{
    "bracketSameLine": false,
    "htmlWhitespaceSensitivity": "ignore",
    "printWidth": 120,
    "semi": true,
    "singleAttributePerLine": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "none"
}
